body {background-color: #FFFFFF;
    color: #666666;
    background-image: url(ptrbackground.jpg);
    font-family: Ariel, Helvetica, sans-serif;}

h1 {background-color:#000033;
  color:#FFFFFF;
  background-image: url(sunset.jpg);
  background-position: right;
  background-repeat: no-repeat;
  padding: 10px;
  margin-bottom: 0;
  font-family: Georgia, "New Times Roman", serif;}

h2 {color: #3399CC;
  font-family: Georgia, "New Times Roman", serif;
  text-shadow: 1px 1px 1px #ccc;}

h3 {color: #000033;
  font-family: Georgia, "New Times Roman", serif;}

nav {padding-left: 30px;
   padding-top: 20px;
   padding-bottom:5px;
   padding-right: 5px;
   font-weight: bold;
   float: left;
   width: 160px;}

nav ul {list-style-type: none;
      margin: 0px;
      font-size: 1.2em;
      padding: 10px;
      padding-left: 0px;}

nav a {text-decoration: none;
     -webkit-transition: color 3s ease-out;
     -moz-transition: color 3s ease-out;
     -o-transition: color 3s ease-out;
     transition: color 3s ease-out;}

nav a:link {color: #000033;}
nav a:visited { color: #344873;}
nav a:hover { color: #ffffff;}

dt {color: #000033;}

.resort {color: #5C7FA3; font-weight: bold;}

#content {padding-left: 30px;
        padding-top: 1px;
        padding-bottom: 20px;
        padding-right: 20px;
    background-color:#FFFFFF;
    margin-left: 190px;}

#content img {float: left; 
            padding-right: 20px;}

#content video {float: left; 
              padding-right: 20px;}

#content embed {float: left; 
              padding-right: 20px;}

#content ul {list-style-position: inside;}

#contact {font-size: .90em;}

#wrapper {margin-left: auto;
        margin-right:auto;
        width: 80%;
        min-width: 960px;
        background-color: #90C7E3;
        box-shadow: 5px 5px 5px #000033;}

#footer {padding: 20px;
       font-size: .75em;
       font-style: italic;
       font-family: Georgia, "New Times Roman", Times, serif;
       margin-left: 190px;
   background-color: #ffffff;}

header, hgroup, nav, footer, section, article, figure, figcaption, aside {display: block;}

#mobile {display: none;}

#desktop {display: inline;}

img {max-width: 100%;
   max-height: none;}

table {border: 1px solid #3399CC;
     border-spacing: 0;
     width: 80%;}

th {border: 1px solid #3399CC;
  padding: 5px;}

td {border: 1px solid #3399CC;
  padding: 5px;       
  text-align: center;}

.text {text-align: left;}

tr:nth-of-type(odd) {background-color: #F5FAFC;}

label {float: left;
     display: block;
     text-align: right;
     width: 120px;
     padding-right: 20px;}

input {display: block;
     margin-bottom: 20px;}


textarea {display: block;
        margin-bottom: 20px;}


#gallery { position: relative; height: 200px;}

#gallery figure {float:left;}
#gallery ul { width: 350px; list-style-type: none; }
#gallery li { display: inline; float: left; padding: 10px; }

#gallery img { border-style: none; float: none; }

#gallery a { text-decoration: none; color: #333; font-style: italic; }

#gallery span { display: none; }    


#gallery a:hover span { display: block; position: absolute;
top: 10px; left: 400px; text-align: center; }



@media only screen and (max-width: 768px) {
  body {margin: 0;}
  #wrapper {min-width: 0;}
  #content {margin-left: 0;}
  nav {float: none;
       width: auto;
       padding: 0;}
  nav ul {text-align: center;
      list-style: none;}
  nav li {display:inline;
          padding: 0 .75em 0 .75em;}
  #footer {margin-left: 0;}	
}

#gallery {}

#gallery span {position:absolute;left: -1000px; opacity:0;
      -webkit-transition:opacity 3s ease-in-out;
      -moz-transition: opacity 3s ease-in-out;
      -o-transition: opacity 3s ease-in-out;
      transition:opacity 3s ease-in-out;}

#gallery a:hover {position: absolute; top:16px; left: 320px;
        text-align:center; opacity:1;}


@media only screen and (max-width: 480px) {
  body {margin: 0;}
  #wrapper {width: auto;
        min-width: 0;
        margin: 0;}
  #content {padding: .1em 1em .1em 1em;
        margin: 0;
        font-size: 90%;}
  h1 {margin: 0;
      font-size: 1.5em;
      padding-left: .3em;}
  nav ul {text-align: center;
      list-style: none;
      padding: 0;}
  nav li {margin: 0;
      display: block;
      border-bottom: 2px solid #330000;}
  nav a {display: block;}
  #content img {float: none;
            padding: 0;
            margin: .1em;}
  #content ul {list-style-position: outside;}
  #mobile {display: inline;}
  #desktop {display: none;}
  label {float: none;
           text-align: left;}
}



